<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telanagana news portal</title>
    <link rel="stylesheet" href="{% static "css/indexnews.css" %}">
</head>
<body>
    <h1>Welocme to Telangana News Portal</h1>
    <img src="{% static "images/1.jpg" %}" alt="">
    <ul>
        <li><a href="/movies">Moviesnews</a></li>
        <li><a href="/politics">Politicsnews</a></li>
        <li><a href="/sports">sportsnews</a></li>
    </ul>
</body>
</html>