<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>telangan_news</title>
    <link rel="stylesheet" href="{% static "css/news.css" %}">
</head>
<body>
    <h1><marquee behavior="" direction="">24x7 News updates</marquee></h1>
    <h1>{{head}}</h1>
    <img src="{% static "images/3.jpg" %}" alt="">
    <ul>
        <li>{{m1}}</li>
        <li>{{m2}}</li>
        <li>{{m3}}</li>
        <li>{{m4}}</li>
    </ul>
   